
<!-- Se centra el codigo -->
<div class="d-flex align-items-center justify-content-center vh-100">

  <!-- Style se sube el formulario mas para arriba  -->
  <div class="col-lg-6 mt-5 m-3" style="transform: translateY(-20%);">

    <h1 class="h1-strong">{{ titleRegister }}</h1>
    <div class="container">
      <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-9">
        <!-- campos del formulario aquí -->
        <p>
          <label for="">Nombre</label>
          <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" [class.is-invalid]="name.invalid && name.touched" class="form-control" required>
          <span *ngIf="!name.valid && name.touched" class="invalid-feedback">
            El nombre es obligatorio
          </span>
        </p>
        <p>
          <label for="">Apellido</label>
          <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" [class.is-invalid]="surname.invalid && surname.touched" class="form-control" required>
          <span *ngIf="!surname.valid && surname.touched" class="invalid-feedback">
            Los apellidos son obligatorios
          </span>
        </p>
        <p>
          <label for="">Apodo</label>
          <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" [class.is-invalid]="nick.invalid && nick.touched" class="form-control" required>
          <span *ngIf="!nick.valid && nick.touched" id="validationServerUsernameFeedback" class="invalid-feedback" >El apodo es obligatorio</span>
        </p>
        <p>
          <label for="">Email</label>
          <input type="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" name="email" #email="ngModel" [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched" class="form-control" required>
          <span *ngIf="email.errors && email.errors['required'] && email.touched" class="invalid-feedback">
            El email es obligatorio
          </span>
          <span *ngIf="email.errors && email.errors['pattern'] && email.touched" class="invalid-feedback">
            El formato del email no es válido
          </span>
        </p>
        <p>
          <label for="">Contraseña</label>
          <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" [class.is-invalid]="password.invalid && password.touched" class="form-control" required>
          <span *ngIf="!password.valid && password.touched" class="invalid-feedback">
            La contraseña es obligatorio
          </span>
        </p>

        <input type="submit" class="btn btn-dark" value="{{titleRegister}}" [disabled]="!registerForm.form.valid">
        <br>
        <span *ngIf="status == 'Registrado'" class="text-success">
          <i class="bi bi-check2"></i> Usuario registrado correctamente, <a [routerLink]="['/login']" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Iniciar sesion</a>
        </span>
        <span *ngIf="status != 'Registrado'" class="text-danger">
          {{ status }}
        </span>
      </form>
    </div>
  </div>

</div>


