<!-- Se centra el codigo -->
<div class="d-flex align-items-center justify-content-center vh-100">

  <!-- Style se sube el formulario mas para arriba  -->
  <div class="col-lg-6 mt-5 m-3" style="transform: translateY(-20%);">
    <div class="d-flex align-items-center justify-content-center vh-99">
      <div class="card w-50">
          <div class="card-body">
              <h2 class="text-center mb-4 h1-strong">{{titleLogin}}</h2>
              <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-lg-12">
                  <div class="mb-3">
                      <label for="email" class="form-label">Email:</label>
                      <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" [class.is-invalid]="email.invalid && email.touched" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" required>
                      <span *ngIf="email.errors && email.errors['required'] && email.touched" class="invalid-feedback">
                        El email es obligatorio
                      </span>
                      <span *ngIf="email.errors && email.errors['pattern'] && email.touched" class="invalid-feedback">
                        El formato del email no es válido
                      </span>
                  </div>
                  <div class="mb-3">
                      <label for="password" class="form-label">Contraseña:</label>
                      <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" [class.is-invalid]="password.invalid && password.touched" required>
                      <span *ngIf="!password.valid && password.touched" class="invalid-feedback">
                        La contraseña es obligatorio
                      </span>
                  </div>
                  <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-dark">Iniciar sesión</button>
                  </div>
                  <div class="d-flex justify-content-center">
                    <span *ngIf="status == 'Success'" class="text-success">
                      {{ message }}
                    </span>
                    <span *ngIf="status == 'Error'" class="text-danger">
                      {{ message }}
                    </span>
                    <span *ngIf="status == 'Error General'" class="text-danger">
                      {{ message }}
                    </span>
                  </div>
                  <br>
                  <div class="d-flex justify-content-center">
                      <a [routerLink]="['/register']" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Registrate aqui</a>
                  </div>
              </form>
          </div>
      </div>
  </div>
  </div>
</div>
